body {
    font-family: 'Roboto', sans-serif;
    background-color: #FBFAF3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .h2 {
    margin-bottom: 20px;
    color: #96AED1;
  }
  
  select {
    padding: 8px;
    border-radius: 4px;
    background-color:  #F3F2E9;
    margin: 10px;
    font-size: 13px;
  }
  
  button {
    background-color: #FAF0D7;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 10px;
  }
  
  button:hover {
    background-color: #96AED1;
    color: #FAF0D7;
  }
  