body {
    font-family: 'Roboto', sans-serif;
    background-color: #FBFAF3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.bibliothecaire-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  h2 {
    margin: 10px;
    color:#96AED1;
    align-items: center;
  }
  
  input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #F3F2E9;
    font-size: 16px;
    margin: 10px;
  }
  
  button {
    background-color: #FAF0D7;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 10px;
  }
  
  button:hover {
    background-color: #96AED1;
    color: #FAF0D7;
  }
  
  ul {
    margin-top: 20px;
  }
  